.header {
  display: grid;
  grid-template-columns: 400px auto 350px;
  margin: 92px 49px 94px 51px;
  font-size: 18px;
  font-weight: 400;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_links-list {
  display: flex;
  gap: 25px;
  list-style: circle;
  grid-column: 1;
}

.header_links-list .header_links-list-item:first-child {
  list-style: none;
}

.header_links-list .header_links-list-item:not(:first-child) {
  margin-left: 7px;
}

.header_logo,
.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
  grid-column: 2;
  justify-self: center;
}

address {
  display: flex;
  flex-direction: column;
  width: 244px;
  line-height: 24.3px;
  grid-column: 3;
  justify-self: end;
  font-style: normal;
  justify-content: center;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

.overlay_cover {
  display: grid;
  grid-template-rows: 120px auto 107px;
  padding: 50px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.cover_title {
  width: 100%;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115%;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 85px;
}

.no-letter-spacing {
  letter-spacing: 32px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 63px;
}

.aligned-text {
  display: block;
  line-height: 105px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  line-height: 85px;
}

.margin-right_corrected {
  margin-right: -32px;
}

.cover_description {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-row: 3;
  padding-top: 57px;
}

.cover_description-text {
  word-spacing: 18px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 81px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.lots {
  padding: 180px 50px 180px;
}

.lots_heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 28px;
  padding-left: 40px;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 32px;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 39.5px;
  width: 430px;
  min-height: 450px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.card_type {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card_link {
  text-decoration: none;
}

.lots_look-more-link {
  font-size: 20px;
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 430px 25px auto;
  grid-template-rows: 240px auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 180px;
}

.about_logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
}

.about_logo-image {
  padding: 63px 46px;
}

.about_title {
  font-size: 40px;
  text-transform: uppercase;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: center;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  grid-column: 3 / 4;
  padding-top: 7px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 50px 90px;
  font-size: 18px;
}

.footer_menu-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
}

.footer_social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 240px;
  min-height: 48px;
}

.footer_social-icon {
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
  display: block;
}

.footer_social-icon-youtube {
  background-image: url(../images/yt.svg);
}

.footer_social-icon-vk {
  background-image: url(../images/vk.svg);
}

.footer_social-icon-pinterest {
  background-image: url(../images/pinterest.svg);
}
